body{
	font-family: sans-serif;
	background: cornflowerblue;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.box-1{
    width: 350px;
    height: 250px;
    background-color: gray;
    margin: 150px auto;
    text-align: justify;
    border-top: 8px solid black;
    border-right: 8px solid rgb(10, 10, 10);
    border-bottom: 8px solid rgb(10, 10, 10);
    border-left: 8px solid rgb(10, 10, 10);
}    